.scrollarea {
    overflow-y: scroll;
    overflow-x: hidden;
}
.video-player {
    width: 80%;
    height: auto;
}
/*.row {
    height: 100vh;
}*/
/* .carousel {
    height:90vh;
    width: auto;
}*/
.carousel-inner {
    align-items: center;
} 
.carousel-item {
    height:80vh;
    width: 20vw;
}
#trend {
    font-family: 'Poppins', sans-serif;
    font-family: 'Satisfy', cursive;
}
#trendfoot {
    font-family: 'Poppins', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Teko', sans-serif;
}
#brand{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rowdies', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Teko', sans-serif;
}